<div class ="col-lg-9" class="card" style="width: 70rem;">
  <div class="card-header">
    <h2> Listar Alquileres </h2>
  </div>

  <div class="form-group">


<form name="formulario" method="post">

Fecha de inicio:
  <input type="date" name="fecha" 
         min="2018-01-01" max="2018-12-31">
  
Fecha de Fin:
  <input type="date" name="fecha" 
         min="2018-01-01" max="2018-12-31">
</form>

  </div>

 <button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-search"></span> Search
  </button>

</div>
