<div class="col-md-9">
<h3>REGISTRAR NUEVO ESTACIONAMIENTO</h3><P>
<title>Registro estacionamiento</title>

<form class="form-horizontal">

	<div class="form-group">
	<label class="control-label col-sm-2" for="name">Nombre Descriptivo: </label>
	<div class="col-sm-4">
	<input type="text" class="form-control"  id="name"> 
	</div>
	</div>
	<div class="form-group">
	<label class="control-label col-sm-2" for="direc">Direccion: </label>
	<div class="col-sm-4">
	<input type="text" class="form-control" id="direct"> 
	</div>
	</div>
	<div class="form-group">
	<label class="control-label col-sm-2" for="dist">Distrito: </label>
	<div class="col-sm-4">
	<input type="text" class="form-control" id="dist"> 
	</div>
	</div>
	<div class="form-group">
	<label class="control-label col-sm-2" for="map">Diraccion en Google Maps: </label>
	<div class="col-sm-4">
	<input type="text" class="form-control" id="map"> 
	</div>
	</div>
	
	<div class="form-group">
	<label class="control-label col-sm-2" for="telefono">Telefono: </label>
	<div class="col-sm-4">
	<input type="text" class="form-control" id="telefono"> 
	</div>
	</div>
	<div class="form-group">
	<label class="control-label col-sm-2" for="preciohora">Precio por Hora: </label>
	<div class="col-sm-4">
	<input type="text" class="form-control" id="preciohora"> 
	</div>
	</div>
	<div class="form-group">
	<label class="control-label col-sm-2" for="foto">Foto: </label>
	<div class="col-sm-4">
	<input type="text" class="form-control" id="foto"> 
	</div>
	</div>
	<div class="form-group">
	<label class="control-label col-sm-2" for="dimension">Dimenciones: </label>
	<div class="col-sm-4">
	<input type="text" class="form-control" id="dimension"> 
	</div>
	</div>
	<div class="form-group">
	<label class="control-label col-sm-2" for="tipo">Tipo: </label>
	<div class="col-sm-4">
	<select class="form-control" id="select2">
		<option>Interior</option>	
		<option>Exterior</option>
		<option>Aire Libre</option>
	</select>
	</div>
	</div>
	<div class="form-group">
	<label class="control-label col-sm-2" for="ubicacion">Ubicacion: </label>
	<div class="col-sm-4">
	<input type="text" class="form-control" id="ubicacion"> 
	</div>
	</div>
	<div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" onclick='alert("Cambios Guardados")'	">Submit</button>
      </div>
    </div>
</div>
</form>
</div>