
<div class="row">

    <div class="col-sm-4 col-ms-offset-2">
         
                <strong><h3>Dar de Baja a tu Usuario</h3></strong>
            <p align="justify">Antes de eliminar tu usuario, podras dejarnos uno comentario de tu experiencia gracias  </p> 
    

    </div>
    <div class="col-sm-8">
        <div class="form-group">
    <label class="control-label col-sm-9" for="comentario">Comentario: </label>
    <div class="col-sm-8">
    <textarea class="form-control" id="comentario" placeholder="comentario" rows="8"></textarea>
    </div>
    </div>

    </div>

    <div class="col-sm-8">
           <button type="button" class="btn btn-default" onclick='alert("se esta eliminando su cuenta")'>Eliminar tu cuenta</button>
        <button type="button" class="btn btn-default" onclick='alert("Cancelando")'>Cancelar
        </button>  
    </div>
    
</div>

 

