<%= content_for :head do %>
	<title>Inicio Cliente</title>
<% end %>

<div class="col-sm-9">
<h1>Bienvenido a la plataforma Freeparking</h1>
</div>

<div class="row">
 <div class="col-lg-7">
 	
<p align="justify">Para que pueda disfrutar de todos nuetsro servicios es necesario que rellene su perfil si ya lo ha realizado hacer click en INICIO </p>


<h3> Gracias </h3>

<img src="" style="height: 400px;width: 100%">
<div class="row">
<div class="form-group">  
<a href="servicios" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Inicio</a>
<a href="nosotros" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Cerrar Sesion</a>
</div>